<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="hide-xs">
      <img src="/img/hire_us.png" />
    </div>
    <div class="form-section">
      <h2>Hire Us</h2>
      <p>
        We're taking projects for 2022. Fill up the form and we'll get back to you in a jiffy!
      </p>
      <div class="form-container">
        <form
          id="contact-form"
          method="POST"
          action="send"
          enctype="multipart/form-data"
        >
        <div
          class="input-row"
        >
          <input
            placeholder="Your Name & Pronouns"
            id="name"
            name="name"
            type="text"
            required
          />
          
        </div>
        <div class="input-row">
          <input
            placeholder="Your Email Address"
            id="email"
            name="email"
            type="email"
            required
          />
        </div>
        <div
          class="input-row"
        >
          <input
            placeholder="Your website / Instagram or any other
            link"
            id="website"
            name="website"
            type="text"
          />
        </div>
        <div
          class="input-row"
        >
          <textarea rows=3 name="message" id="message" placeholder="What can we help you with? The more details, the better."></textarea>
          <!-- <input
            id="message"
            name="message"
            type="text"
            placeholder="What can we help you with? The more details, the better."
            required
          /> -->
        </div>
        <button type="submit" value="submit" class="button btn-primary">
          <span>
            Submit
          </span>
        </button>
      </form>
       
      </div>
    </div>
  </div>

</div>