
<%- include("cursor.html") %>
<div class="header">
  <img class="sidebar-toggle" src="/img/nav_button.png" />
</div>
<div class="sidebar-overlay" id="sidebar-overlay">
  <div
    id="sidebar"
    class="collapsed"
  >
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/work">Work</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/services">
          Services
        </a>
      </li>
      <li>
        <a href="/journal">Journal</a>
      </li>
      <li class="contact-btn-sidebar">
        <a class="modal-trigger-btn">Contact</a>
      </li>
    </ul>
    <!-- <img class="sidebar-toggle" src="/img/nav_button.png" /> -->
  </div>
</div>
<%- include("contactFormModal.html") %>
<%- include("subscribeFormModal.html") %>
<!-- <%- include("partials/repeatedBanner.html",
  {
    text: "Click here to launch your brand by Holi 2023.",
    redirectTo: '',
    type: "secondary"
  }
) %> -->