<section
  id="projects"
>
  <div class="flex-wrapper">
    <% for (let i=0; i < projects.length; i++) { %>
      <div class="project-item">
        <div class="project-image-container">
          <a href="/project/<%= projects[i].id %>">
            <img src="/img/<%= projects[i].thumbnails[0] %>" />
            <img class="img-hover" src="/img/<%= projects[i].thumbnails[1] %>" />
          </a>
        </div>
        <h3>
          <a href="/project/<%= projects[i].id %>">
            <%= projects[i].name %>
          </a>
        </h3>
        <p>
          <a href="/project/<%= projects[i].id %>">
            <%= projects[i].intro %>
          </a>
        </p>
      </div>
    <% } %>
  </div>
  <% if (seeMore && seeMore === "true") { %>
    <div class="load-more-container" style="display: flex; justify-content: center; padding-bottom: 32px;">
      <button id="load-more" class="button btn-secondary" >See more</button>
    </div>
  <% } %>
</section>

<script>
  let index = 0;
  const loadMoreButton = document.getElementById("load-more");
  if (loadMoreButton) {
    loadMoreButton.addEventListener("click", function() {
    index = index + 4;
    fetch("/api/projects?limit=4&offset=" + index)
      .then((response) => {
        return response.json();
      })
      .then((data) => {
        let projects = data.projects;
        let html = "";
        for (let i = 0; i < projects.length; i++) {
          html += `
            <div class="project-item">
              <div class="project-image-container">
                <a href="/project/${projects[i].id}">
                  <img src="/img/${projects[i].thumbnails[0]}" />
                  <img class="img-hover" src="/img/${projects[i].thumbnails[1]}" />
                </a>
              </div>
              <h3>
                <a href="/project/${projects[i].id}">
                  ${projects[i].name}
                </a>
              </h3>
              <p>
                <a href="/project/${projects[i].id}">
                  ${projects[i].intro}
                </a>
              </p>
            </div>
          `;
        }
        document.getElementsByClassName("flex-wrapper")[0].innerHTML += html;
        if (!data.hasMore) document.getElementsByClassName("load-more-container")[0].style.display = "none";
      })
      .catch((err) => {
        console.log(err);
      });
  })
  }
</script>