<section
  id="projects"
>
  <div class="flex-wrapper">
    <div class="project-item">
      <div class="project-image-container">
        <a href="/project/1">
          <img src="/img/project-1.png" />
          <img class="img-hover" src="/img/project-2.png" />
        </a>
      </div>
      <h3>
        <a href="/project/1">
          Client Name
        </a>
      </h3>
      <p>
        <a href="/project/1">
          We're Add More Design, a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. 
        </a>
      </p>
    </div>
    <div class="project-item">
      <div class="project-image-container">
        <a href="/project/1">
          <img src="/img/project-1.png" />
          <img class="img-hover" src="/img/project-2.png" />
        </a>
        <!-- <div class="project-image"></div> -->
      </div>
      <h3>
        <a href="/project/1">
          Client Name
        </a>
      </h3>
      <p>
        <a href="/project/1">
          We're Add More Design, a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. 
        </a>
      </p>
    </div>
    <div class="project-item">
      <div class="project-image-container">
        <a href="/project/1">
          <img src="/img/project-1.png" />
          <img class="img-hover" src="/img/project-2.png" />
        </a>
        <!-- <div class="project-image"></div> -->
      </div>
      <h3>
        <a href="/project/1">
          Client Name
        </a>
      </h3>
      <p>
        <a href="/project/1">
          We're Add More Design, a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. 
        </a>
      </p>
    </div>
    <div class="project-item">
      <div class="project-image-container">
        <a href="/project/1">
          <img src="/img/project-1.png" />
          <img class="img-hover" src="/img/project-2.png" />
        </a>
        <!-- <div class="project-image"></div> -->
      </div>
      <a href="/project/1"></a>
      <h3>
        <a href="/project/1">
          Client Name
        </a>
      </h3>
      <p>
        <a href="/project/1">
          We're Add More Design, a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. 
        </a>
      </p>
    </div>
  </div>
</section>