<section class="row-banner">
  <div class="marquee">
    <div class="marquee__inner" aria-hidden="true">
      <span>  <%= text %>&nbsp; |&nbsp; </span>
      <span>  <%= text %>&nbsp; |&nbsp; </span>
      <span>  <%= text %>&nbsp; |&nbsp; </span>
      <span>  <%= text %>&nbsp; |&nbsp; </span>
      <span>  <%= text %>&nbsp; |&nbsp; </span>
      <span>  <%= text %>&nbsp; |&nbsp; </span>
      <span>  <%= text %>&nbsp; |&nbsp; </span>
      <span>  <%= text %>&nbsp; |&nbsp; </span>
      <span>  <%= text %>&nbsp; |&nbsp; </span>
      <span>  <%= text %>&nbsp; |&nbsp; </span>
      <span>  <%= text %>&nbsp; |&nbsp; </span>
      <span>  <%= text %>&nbsp; |&nbsp; </span>
      <span>  <%= text %>&nbsp; |&nbsp; </span>
    </div>
  </div>
</section>