<section class="row-banner <%= type %>">
  <div
    onclick="
    <% if(redirectTo && type === 'primary') { %>
      window.location.href = '<%= redirectTo %>';
    <% } %>
    "
    class="marquee <% if (!redirectTo) { %> modal-trigger-btn <% } %>">
    <div class="marquee__inner" aria-hidden="true">
      <span class="span-btn">  <%= text %>&nbsp; |&nbsp; </span>
      <span class="span-btn">  <%= text %>&nbsp; |&nbsp; </span>
      <span class="span-btn">  <%= text %>&nbsp; |&nbsp; </span>
      <span class="span-btn">  <%= text %>&nbsp; |&nbsp; </span>
      <span class="span-btn">  <%= text %>&nbsp; |&nbsp; </span>
      <span class="span-btn">  <%= text %>&nbsp; |&nbsp; </span>
      <span class="span-btn">  <%= text %>&nbsp; |&nbsp; </span>
      <span class="span-btn">  <%= text %>&nbsp; |&nbsp; </span>
      <span class="span-btn">  <%= text %>&nbsp; |&nbsp; </span>
      <span class="span-btn">  <%= text %>&nbsp; |&nbsp; </span>
      <span class="span-btn">  <%= text %>&nbsp; |&nbsp; </span>
      <span class="span-btn">  <%= text %>&nbsp; |&nbsp; </span>
      <span class="span-btn">  <%= text %>&nbsp; |&nbsp; </span>
      <span class="span-btn">  <%= text %>&nbsp; |&nbsp; </span>
      <span class="span-btn">  <%= text %>&nbsp; |&nbsp; </span>
      <span class="span-btn">  <%= text %>&nbsp; |&nbsp; </span>
      <span class="span-btn">  <%= text %>&nbsp; |&nbsp; </span>
      <span class="span-btn">  <%= text %>&nbsp; |&nbsp; </span>
      <span class="span-btn">  <%= text %>&nbsp; |&nbsp; </span>
      <span class="span-btn">  <%= text %>&nbsp; |&nbsp; </span>
    </div>
  </div>
</section>