<script>
  const sidebarButtons = document.querySelectorAll(".sidebar-toggle");
  const sidebar = document.getElementById("sidebar-overlay");
  if (sidebarButtons && sidebarButtons.length > 0) {
    sidebarButtons.forEach(button => {
      button.addEventListener("click", () => {
        document.getElementById("sidebar").classList.toggle("collapsed");
        sidebar.classList.toggle("show");
      })
    })
  }
</script>

<script>
  function onshare(medium) {
    const encodedUrl = encodeURIComponent(window.location.href);
    if (medium === "fb") {
      const fbUrl = `https://www.facebook.com/sharer.php?t=${encodedUrl}`;
      window.open(fbUrl, "_blank")
    } else if (medium === "twitter") {
      const twitterUrl = `https://twitter.com/intent/tweet?text=${encodedUrl}`;
      window.open(twitterUrl, "_blank")
    } else if (medium === "linkedin") {
      const linkedinUrl = `https://www.linkedin.com/sharing/share-offsite/?url=${encodedUrl}`;
      window.open(linkedinUrl, "_blank");
    }
  }
</script>

<script>
  // contact Form Modal
  const modalButton = document.getElementsByClassName("modal-trigger-btn");
  var modal = document.getElementById("myModal");
  var modalClose = document.getElementById("modal-close");
  if (modalButton && modalButton.length > 0) {
    for (let i = 0; i < modalButton.length; i++) {
      modalButton[i].onclick = function(e) {
        if (modalButton[i].parentNode.className === 'contact-btn-sidebar') {
          document.getElementById("sidebar").classList.toggle("collapsed");
          document.getElementById("sidebar-overlay").classList.toggle("show")
        }
        modal.style.visibility = "visible";
        modal.style.opacity = 1;
        modal.style.height = "100vh";
      }
    }
  }

  // open subscribe to newsletter modal after 5s
  var subcribeModal = document.getElementById("subscribe");

  // utility function to get cookie by name
  function getCookie(name) {
    let cookie = {};
    document.cookie.split(';').forEach(function(el) {
      let [k,v] = el.split('=');
      cookie[k.trim()] = v;
    })
    return cookie[name];
  }

  // create cookie for n number of days
  function createCookie(name, value, days) {
    var date, expires;
    if (days) {
        date = new Date();
        date.setDate(date.getDate()+days);
        expires = "; expires="+date.toUTCString();
    } else {
        expires = "";
    }
    document.cookie = name+"="+value+expires+"; path=/";
  }

  const modalSeen = getCookie("modalSeen");

  if (!modalSeen) {
    setTimeout(function() {
      // subcribeModal.style.display = "block";
      createCookie("modalSeen", true, 10);
    }, 5000);
  }

    // close modal on click outside
    window.onclick = function(e) {
    if (e.target === modal) {
      modal.style.visibility = "hidden";
      modal.style.opacity = 0;
      modal.style.height = 0;
    }

    if (e.target === subcribeModal) {
      subcribeModal.style.display = "none";
    }

    if (e.target === sidebar) {
      sidebar.classList.remove("show");
      document.getElementById("sidebar").classList.add("collapsed");
    }
    // document.getElementById("sidebar").classList.toggle("collapsed");
  }

  $("#modal-close").on("click", function(e) {
    console.log(e);
      modal.style.visibility = "hidden";
      modal.style.opacity = 0;
      modal.style.height = 0;
    });

    $("#modal-close").on("touchstart", function() {
      modal.style.visibility = "hidden";
      modal.style.opacity = 0;
      modal.style.height = 0;
    });

  // fallback method for ios to close modal on click outside
  window.ontouchstart = function(e) {
    if (e.target === modal) {
      modal.style.visibility = "hidden";
      modal.style.opacity = 0;
      modal.style.height = 0;
    }

    if (e.target === subcribeModal) {
      subcribeModal.style.display = "none";
    }
  }

  // send contact form data
  const sendDetails = (mail) => {
    fetch("/api/save-details", {
      method: "POST",
      body: mail
    })
    .then((response) => {
      return response.json();
    })
    .then((data) => console.log(data))
    .catch((err) => {
      console.log(err);
    })
  }

  // const btn = document.getElementById("submit");
  // btn.addEventListener("click", sendDetails);
  const form = document.getElementById("contact-form");
  form.addEventListener("submit", (e) => {
    e.preventDefault();
    let mail = new FormData(form);
    sendDetails(mail);
  })
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>