<div id="subscribe" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="form-section">
      <h2>
        Pss.. We have a free goodie for you!
      </h2>
      <p>
        First 100 subscribers to sign up for our newsletter below to recieve a FREE presentation template to help you win client approvals!
      </p>
      <div class="form-container">
        <form
          class="newsletter-form"
          method="POST"
          action="send"
          enctype="multipart/form-data"
        >
        <div
          class="input-row"
        >
          <input
            placeholder="Your Name"
            id="name"
            name="name"
            type="text"
            required
          />
          
        </div>
        <div class="input-row">
          <input
            placeholder="Your Email Address"
            id="email"
            name="email"
            type="email"
            required
          />
        </div>
        <button type="submit" value="submit" class="button btn-primary">
          <span>
            Submit
          </span>
        </button>
      </form>
       
      </div>
    </div>
    <div class="right-section">
      <!-- <img src="/img/hire_us.png" /> -->
      <ul>
        <li>
          Tried & tested with real clients
        </li>
        <li>
          Completely customizable
        </li>
        <li>
          Great for any kind of deck
        </li>
        <li>
          Made on Google Slides
        </li>
      </ul>
    </div>
  </div>

</div>