<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About | Add More Designs</title>
  <%- include("partials/styles.html") %>
  <link href="/about.css" rel="stylesheet">
</head>
<body id="about">
  <%- include("partials/cursor.html") %>
  <%- include("partials/header.html") %>
  <%- include("partials/repeatedBanner.html",
      {
        text: "We are still onboarding projects for 2022.",
        redirectTo: '',
        type: "secondary"
      }
  ) %>
  <section
   class="about-intro" 
  >
    <div>
      <h1 class="hide-lg">Hey you. It's nice to see you here.</h1>
      <img src="/img/about-new.png" />
      <div class="about-text">
        <h1 class="hide-xs">Hey you. It's nice to see you here.</h1>
        <p>
          We're a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers make their lives better, to (hopefully) make the world better☀️ For us, the reason why we're creating something is very important. We love working with people who are wired like that as well. We believe that reason and intent get us to strategy-which helps make us provide better design services.
        </p>
        <a class="button btn-primary modal-trigger-btn">
          Hire Us
        </a>
      </div>
    </div>
  </section>
  <%- include("partials/repeatedBanner.html", { text: "Book a consulatation", redirectTo: "", type: "primary" }) %>
  <section
    class="why-us"
  >
    <div class="heading-container">
      <h2>You should choose us.</h2>
    </div>
    <div class="about-pointers">
      <div>
        <h3 class="accordian-heading accordion-new">Boutique experience</h3>
        <p class="panel-new">
          We truly believe that every brand is different because you - the person behind that brand - are unique. We make everything about our services tailored to your brand to make sure that the YOU factor shines bright. Working with us is an immersive and personal experience, where our founder keeps up with you at every step of the way. We see you, we hear you, we work with and for you creating brands that you will be in love with.
        </p>
      </div>
      <div>
        <h3 class="accordian-heading accordion-new">Strong ethos</h3>
        <p class="panel-new">
          We do stuff that has a reason behind it. ‘Because everyone is doing it’ doesn’t cut it for us. We envision making way for better representation, to make design more accessible, to help create brands with strong core values, and to help us be more intentional in our lives. If you want to introduce something heartfelt into the world, we’d love to talk to you. Read about our brand ethos in detail <a style="color: var(--amdBluePrimary);" href="/journal/1">here</a>.
        </p>
      </div>
      <div>
        <h3 class="accordian-heading accordion-new">Diverse skillset</h3>
        <p class="panel-new">
          We take care of brand creation as a whole. Working with Add More Design means you don’t have to go hunting for photographers, copywriters, etc. separately. We have skilled professionals across creative verticals working with us as independent contractors.
        </p>
      </div>
      <div>
        <h3 class="accordian-heading accordion-new">To Suit Every Budget</h3>
        <p class="panel-new">
          While most of our services demand a decent investment, we also recognize that sometimes great ideas don't have heavy financial support and money shouldn't be a reason to not chase after your dreams. We offer quality services and payment options to businesses with small budgets to give you a strong start. On that note, check our Pro-Bono Program <a style="color: var(--amdBluePrimary);" href="https://forms.gle/3jFqjrBuvf9ronZK9">here</a>.
        </p>
      </div>
    </div>
  </section>
  <%- include("partials/repeatedBanner.html", { text: "Book a consulatation", redirectTo: "", type: "primary" }) %>
  <section class="book-section">
    <div>
      <h2>We'll make a great team.</h2>
      <p>We're still taking projects for 2022. Schedule a FREE consultation call to discover how we can help transform your business.</p>
      <a class="button btn-primary modal-trigger-btn">
        Contact Us
      </a>
    </div>
    <div></div>
  </section>
  <%- include("partials/instaFeed.html") %>
  <section
    class="banner-section"
  >
    <p>
      <span>We're a friendly bunch. stay connected with us on Instagram </span>@addmoredesign_studio
    </p>
  </section>
  <%- include("partials/footer.html") %>
  <%- include("partials/scripts.html") %>
  <script>
    function handleAccordian() {
      $(`.accordian-heading`).on("click", function() {
        if (window.innerWidth >= 500) {
          return;
        }
        if ($(this).hasClass("accordian-active-new")) {
          $(this).removeClass("accordian-active-new");
          var panel = this.nextElementSibling;
          panel.style.maxHeight = "0px";
        } else {
          $(`.accordian-heading`).removeClass("accordian-active-new");
          $(this).addClass("accordian-active-new");
          $(`.about-pointers .panel-new`).css("max-height", "0");
          var panel = this.nextElementSibling;
          panel.style.maxHeight = panel.scrollHeight + "px";
        }
      })
    }
    handleAccordian();
    var accHeading = document.getElementsByClassName("accordian-heading");
    accHeading[0].click();
    $(window).resize(function() {
      if (screen.width >= 500) {
        $(`.about-pointers .panel-new`).css("max-height", "unset");
      } else {
        var accHeading = document.getElementsByClassName("accordian-heading");
        accHeading[0].click();
      }
    });
  </script>
</body>
</html>