<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="p:domain_verify" content="bde6944913014027453acf5059fa55db"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add More Designs</title>
    <%- include("partials/styles.html") %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
<!--[if (lt IE 9)]><script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.helper.ie8.js"></script><![endif]-->
  </head>
  <body id="home">
    <!-- Intro Section -->
    <%- include("partials/cursor.html") %>
    <%- include("partials/header.html") %>
    <%- include("partials/repeatedBanner.html",
      {
        text: "We are still onboarding projects for 2023.",
        redirectTo: '',
        type: "secondary"
      }
    ) %>
    <section
      class="flex-container"
    >
      <!-- Replace by video -->
      <div>
        <video autoplay muted loop src="/img/Homepage.mp4"></video>
        <!-- <img src="/img/intro.png" /> -->
      </div>
      <div>
        <h1 style="color: var(--amdBlack); margin-bottom: 16px;">
          A woman-led design studio that offers brand building services to empower dreamers, risk-takers, ambitious entrepreneurs, and resolute brands ready to change the world.<br><br>Based in India. Working globally.
        </h1>
        <a href="/services" class="button btn-primary">
          See More
        </a>
      </div>
    </section>
    <section
      class="services"
    >
      <div>
        <h2>
          Our Services
        </h2>
        <a class="button btn-primary modal-trigger-btn">
          Hire Us
        </a>
      </div>
      <div>
        <div class="service-list-container">
          <h3>BRANDING</h3>
          <ul>
            <li>Strategy</li>
            <li>Market Research</li>
            <li>Identity</li>
            <li>Photography</li>
            <li>Packaging</li>
            <li>Stationary</li>
          </ul>
        </div>
        <div class="service-list-container">
          <h3>WEBSITE</h3>
          <ul>
            <li>Design</li>
            <li>Development</li>
            <li>Copywriting</li>
            <li>Photography</li>
            <li>Launch Support</li>
          </ul>
        </div>
        <div class="service-list-container">
          <h3>SOCIAL MEDIA</h3>
          <ul>
            <li>Content Strategy</li>
            <li>Design</li>
            <li>Copywriting</li>
            <li>Campaign Ideation</li>
            <li>Photography</li>
          </ul>
        </div>
      </div>

    </section>
    <%- include("partials/projects.html", { projects: projects, seeMore: "false" }) %>
    
    <%- include("partials/repeatedBanner.html",
      {
        text: "See all our work",
        redirectTo: '/work',
        type: "primary"
      }
    ) %>
    <section
      class="testimonials"
    >
      <h2>Not to brag but...</h2>
        <div class="testimonials-slider">
          <div class="slider-item">
            <div class="testimonial-right">
              <h3>Jaideep Panjwani</h3>
              <p class="designation noselect" >Co-Founder, Elio</p>
              <p class="noselect">
                "Working with Kumud is like working with the extremely intelligent director of design, who knows EXACTLY how to decipher your brand's future aesthetics. Add More Design is a great studio. I love their highly researched design inputs on my brand, which was something that had been lacking in my business before this point. This is not something I'd easily say for anyone who has worked with me before."
              </p>
            </div>
          </div>

          <div class="slider-item">
            <div class="testimonial-right">
              <h3>Aaliya Kanuga</h3>
              <p class="designation noselect" >Co-Founder, Bollycoin</p>
              <p class="noselect">
                “Working with Kumud was a breeze! She was very fast, organized, and efficient throughout the process. She took back all of our feedback and implemented it perfectly at every stage! We're glad to have had the opportunity to work with her and look forward to collaborating again in the future.”
              </p>
            </div>
          </div>
          
          <div class="slider-item">
            <div class="testimonial-right">
              <h3>Divya Napa</h3>
              <p class="designation noselect" >Co-Founder, DNC</p>
              <p class="noselect">
                “One rarely comes across someone who is as creative and professional as Kumud. I have had the pleasure of working with Kumud on a few different projects and it has been a great experience. Kumud’s speed, attention to detail, and creativity are some of her greatest qualities as a designer. I have had the best time working with her on several projects. She is definitely someone I would approach for any new projects from my side and also someone I would highly recommend to others!”
              </p>
            </div>
          </div>
          
          <div class="slider-item">
            <div class="testimonial-right">
              <h3>Akhil Backliwal</h3>
              <p class="designation noselect" >Co-Founder, Career Ahead</p>
              <p class="noselect">
                “She listened to our ideas, asked questions about what we were trying to accomplish, and really made sure that she understood our goals before getting to work, and we were extremely pleased with the outcome.
                We would absolutely recommend her to anyone and would definitely work with her again!”
              </p>
            </div>
          </div>
      </div>
      <!-- <div class='container'>
        <div class='single-item'>
          <div class="slick-list testimonial-list-item">
            <div class="slick-item-container">
              <div class="testimonial-right">
                <h3>Name Here</h3>
                <p>Designation Here</p>
                <p>
                  TCHC is a US-based pharma that is gearing up to launch multiple dietary supplement brands under one house to help us live our best life. PS : Because the project is still underway, please don’t share this project with anyone. Thanks! TCHC is a US-based pharma that is gearing up to launch multiple dietary supplement brands under one house to help us live our best life. PS : Because the project is still underway, please don’t share this project with anyone. Thanks!
                </p>
              </div>
            </div>
          </div>
          <div class="slick-list testimonial-list-item">
            <div class="slick-item-container">
              <div class="testimonial-right">
                <h3>Name Here</h3>
                <p>Designation Here</p>
                <p>
                  TCHC is a US-based pharma that is gearing up to launch multiple dietary supplement brands under one house to help us live our best life. PS : Because the project is still underway, please don’t share this project with anyone. Thanks! TCHC is a US-based pharma that is gearing up to launch multiple dietary supplement brands under one house to help us live our best life. PS : Because the project is still underway, please don’t share this project with anyone. Thanks!
                </p>
              </div>
            </div>
          </div>
          <div class="slick-list testimonial-list-item">
            <div class="slick-item-container">
              <div class="testimonial-right">
                <h3>Name Here</h3>
                <p>Designation Here</p>
                <p>
                  TCHC is a US-based pharma that is gearing up to launch multiple dietary supplement brands under one house to help us live our best life. PS : Because the project is still underway, please don’t share this project with anyone. Thanks! TCHC is a US-based pharma that is gearing up to launch multiple dietary supplement brands under one house to help us live our best life. PS : Because the project is still underway, please don’t share this project with anyone. Thanks!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </section>
    <%- include("partials/repeatedBanner.html", { text: "See all our work", redirectTo: '/work',  type: "primary" }) %>
    <section
      id="hire-form"
    >
      <div>
        <div class="flex-row">
          <h2>Hire Us</h2>
          <p>
            We're taking projects for 2023. Fill up the form and we'll get back to you in a jiffy!
          </p>
          <img src="/img/hire-us.png" />
        </div>
      </div>
      <div>
        <form
          id="home-form"
          method="POST"
          action="send"
          enctype="multipart/form-data"
        >
          <div
            class="input-row"
          >
            <input
              placeholder="Your Name"
              id="name"
              name="name"
              type="text"
              required
            />
            <input
              placeholder="Your Email Address"
              id="email"
              name="email"
              type="email"
              required
            />
          </div>
          <div
            class="input-row"
          >
            <input
              placeholder="Your website / Instagram or any other link"
              id="website"
              name="website"
              type="text"
            />
          </div>
          <div
            class="input-row"
          >
            <input
              placeholder="What can we help you with? The more details, the better."
              name="message"
              id="message"
            />
          </div>
          <button type="submit" value="submit" class="button btn-primary">
            Submit
          </button>
        </form>
      </div>
    </section>
    <%- include("partials/instaFeed.html") %>
    <section
      class="banner-section"
    >
      <p>
        <span>We're a friendly bunch. stay connected with us on Instagram </span>@addmoredesign_studio</p>
    </section>
    
    <%- include("partials/footer.html") %>
    <script>
      const homeform = document.getElementById("home-form");
      homeform.addEventListener("submit", (e) => {
        e.preventDefault();
        let mail = new FormData(homeform);
        fetch("https://stormy-badlands-97380.herokuapp.com/mail/save-details", {
          method: "POST",
          body: mail
        })
        .then((response) => {
          return response.json();
        })
        .then((data) => console.log(data))
        .catch((err) => {
          console.log(err);
        })
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
    <script>
      var slider = tns({
        container: '.testimonials-slider',
        items: 1,
        responsive: {
          640: {
            edgePadding: 20,
            gutter: 20,
            items: 2
          },
          700: {
            gutter: 30
          },
          900: {
            items: 2,
            edgePadding: 128,
            autoplay: true,
            autoplayTimeout: 2000
          }
        },
        controls: false,
        mouseDrag: true,
        nav: false,
        edgePadding: 24
      });
    </script>
    <%- include("partials/scripts.html") %>
  </body>
</html>