<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Journal | Add More Design</title>
  <%- include("partials/styles.html") %>
  <link href="/journal.css" rel="stylesheet">
</head>
<body id="journal">
  <%- include("partials/header.html") %>
  <%- include("partials/repeatedBanner.html",
    {
      text: "We are still onboarding projects for 2022.",
      redirectTo: '',
      type: "secondary"
    }
) %>
  <!-- <%- include("partials/repeatedBanner.html",
    {
      text: "We are still onboarding projects for 2022.",
      redirectTo: '',
      type: "secondary"
    }
  ) %> -->
  <section class="intro-section">
    <div>
      <h1>Journal</h1>
    </div>
    <div>
      <p>
        We have ideas, and sometimes we right them here. Our journal is a mishmash of dreams, observations, rants, learnings, resources, and whatever else that pops in our heads. This is an insight into who we are as a creative team and an effort in turning Add More Design into a community. Do sign up here to receive an email whenever we write something new. Replying and sharing your opinions is always encouraged 😊
      </p>
    </div>
  </section>
  <section class="journal-list">
    <% for (let i = 0; i < journals.length; i++) { %>
      <%- include("partials/journalCard.html", { journal: journals[i] }) %>
      <% } %>
  </section>
  <!-- <div class="load-more-container" style="display: flex; justify-content: center; padding-bottom: 32px;">
    <button id="load-more" class="button btn-primary" >See more</button>
  </div> -->
  <section class="journal-nwl-form">
    <h3>Don't be a stranger</h3>
    <p>Get first dibs on new products, business updates & design tips.</p>
    <form
      class="newsletter-form"
      method="POST"
      action="send"
      enctype="multipart/form-data"
    >
      <div
        class="input-row"
      >
        <input
          placeholder="Your Name & Pronouns"
          name="name"
          required
          type="text"
        />
      </div>
      <div
        class="input-row"
      >
        <input
          placeholder="Your Email Address"
          name="email"
          type="email"
          required
        />
      </div>
      <button type="submit" value="submit" class="button btn-primary welcome-btn">
        Submit
      </button>
    </form>
  </section>
  <%- include("partials/instaFeed.html") %>
  <section
    class="banner-section"
  >
    <p>
      <span>We're a friendly bunch. stay connected with us on Instagram </span>@addmoredesign_studio</p>
  </section>
  <%- include("partials/footer.html") %>
  <%- include("partials/scripts.html") %>
  <script>
    let index = 0;
    document.getElementById("load-more").addEventListener("click", function() {
      index = index + 4;
      fetch("/api/journals?limit=4&offset=" + index)
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          let journals = data.journals;
          let html = "";
          for (let i = 0; i < journals.length; i++) {
            html += `
              <div class="journal-item">
                <div class="project-image-container">
                  <a href="/project/${journals[i].id}">
                    <img src="/img/${journals[i].coverImage}" />
                    <img class="img-hover" src="/img/project-2.png" />
                  </a>
                </div>
                <h3>
                  <a href="/project/${journals[i].id}">
                    ${journals[i].title}
                  </a>
                </h3>
                <p>
                  <a href="/project/${journals[i].id}">
                    ${journals[i].description}
                  </a>
                </p>
              </div>
            `;
          }
          document.getElementsByClassName("journal-list")[0].innerHTML += html;
          if (!data.hasMore) document.getElementsByClassName("load-more-container")[0].style.display = "none";
        })
        .catch((err) => {
          console.log(err);
        });
    })
  </script>
</body>
</html>