<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add More Designs</title>
    <%- include("partials/styles.html") %>
    <link href="/projects.css" rel="stylesheet">
<!--[if (lt IE 9)]><script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.helper.ie8.js"></script><![endif]-->
  </head>
  <body id="project">
    <!-- Intro Section -->
    <%- include("partials/header.html") %>
    <%- include("partials/repeatedBanner.html", { text: "We are still onboarding projects for 2022." }) %>
    <section
      class="project-cover"
    >
      <img src="/img/<%= data.coverImage %>" />
    </section>
    <section class="client-intro">
      <div class="client-details">
        <h3>
          <%= data.clientDetails.name %>
        </h3>
        <p>
          <%= data.clientDetails.year %>
        </p>
        <% for(let i = 0; i < data.clientDetails.services.length; i++) { %>
            <p>
              <%= data.clientDetails.services[i] %>
            </p>
        <% } %>
      </div>
      <div class="client-description">
        <h1>
          <%= data.heading %>
        </h1>
        <p>
          <%= data.description %>
        </p>
      </div>
    </section>
    <section class="gallery">
      <% for(var i = 0; i < data.gallery.length; i++) { %>
        <img src="/img/<%= data.gallery[i] %>" />
      <% } %>
    </section>
    <%- include("partials/contactForm.html") %>
    <section
      class="banner-section"
    >
      <p>
        <span>We're a friendly bunch. stay connected with us on Instagram </span>@addmoredesign_studio</p>
    </section>
    <%- include("partials/footer.html") %>
    <%- include("partials/scripts.html") %>
  </body>
</html>