<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Services | Add More Design</title>
  <%- include("partials/styles.html") %>
  <link href="/services.css" rel="stylesheet">
  <link href="/about.css" rel="stylesheet">
</head>
<body id="services">
  <%- include("partials/header.html") %>
  <section class="intro-section">
    <div>
      <h1>Services</h1>
    </div>
    <div>
      <p>
        Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers make their lives better, to (hopefully) make the world better☀️ For us, the reason of why we're creating something is very important. We love working with people who are wired like that as well. We believe that reason and intent gets us to strategy-which helps make us provide better design services.
      </p>
    </div>
  </section>
  <%- include("partials/repeatedBanner.html", { text: "Book a consultation" }) %>
  <section
    class="services-primary"
  >
    <h2>Primary Services</h2>
    <div class="tabs">
      <div class="tab active" onclick="toggleTab('branding', this)">
        Branding
      </div>
      <div class="tab" onclick="toggleTab('website', this)">
        Website
      </div>
      <div class="tab" onclick="toggleTab('social-media', this)">
        Social Media
      </div>
    </div>
    <div class="tab-details active" id="branding">
      <div class="tab-content">
        <p>
          Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
        </p>
        <p>
          MAY INCLUDE :
        </p>
        <div class="services-list">
          <ul>
            <li>Brand Strategy</li>
            <li>Market Research</li>
            <li>Visual Identity</li>
          </ul>
          <ul>
            <li>Photography</li>
            <li>Packaging</li>
            <li>Stationary</li>
          </ul>
          <ul>
            <li>Branded Templates</li>
            <li>Brand Activation</li>
          </ul>
        </div>
        <p class="review">
          “Working with Kumud was a breeze! She was very fast, organized, and efficient throughout the process”
        </p>
        <p class="reviewer">
          -  ‘Client Name’
        </p>
      </div>
      <div class="tab-img">
        <!-- <img src="/img/project-1.png" /> -->
      </div>
    </div>
    <div class="tab-details" id="website">
      <div class="tab-content">
        <p>
          Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
        </p>
        <p>
          MAY INCLUDE :
        </p>
        <div class="services-list">
          <ul>
            <li>Brand Strategy</li>
            <li>Market Research</li>
            <li>Visual Identity</li>
          </ul>
          <ul>
            <li>Photography</li>
            <li>Packaging</li>
            <li>Stationary</li>
          </ul>
          <ul>
            <li>Branded Templates</li>
            <li>Brand Activation</li>
          </ul>
        </div>
        <p class="review">
          “Working with Kumud was a breeze! She was very fast, organized, and efficient throughout the process”
        </p>
        <p class="reviewer">
          -  ‘Client Name’
        </p>
      </div>
      <div class="tab-img" style="background-image: url('/img/project-2.png');">
        <!-- <img src="/img/project-1.png" /> -->
      </div>
    </div>
    <div class="tab-details" id="social-media">
      <div class="tab-content">
        <p>
          Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
        </p>
        <p>
          MAY INCLUDE :
        </p>
        <div class="services-list">
          <ul>
            <li>Brand Strategy</li>
            <li>Market Research</li>
            <li>Visual Identity</li>
          </ul>
          <ul>
            <li>Photography</li>
            <li>Packaging</li>
            <li>Stationary</li>
          </ul>
          <ul>
            <li>Branded Templates</li>
            <li>Brand Activation</li>
          </ul>
        </div>
        <p class="review">
          “Working with Kumud was a breeze! She was very fast, organized, and efficient throughout the process”
        </p>
        <p class="reviewer">
          -  ‘Client Name’
        </p>
      </div>
      <div class="tab-img">
        <!-- <img src="/img/project-1.png" /> -->
      </div>
    </div>
  </section>
  <%- include("partials/repeatedBanner.html", { text: "Book a consultation" }) %>
  <section
    class="why-us"
  >
    <div class="heading-container">
      <h2>You should choose us.</h2>
    </div>
    <div class="about-pointers">
      <div>
        <h3 class="accordian-heading accordion-new">VIP Days</h3>
        <div class="panel-new">
          <p class="question">
            What is it?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            WHO IS THE PROGRAM FOR?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            RATE HERE
          </p>
          <button class="enquire-btn button btn-primary modal-trigger-btn">
            Enquire Now
          </button>
        </div>
      </div>
      <div>
        <h3 class="accordian-heading accordion-new">BRAND STRATEGY WORKSHOP</h3>
        <div class="panel-new">
          <p class="question">
            What is it?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            WHO IS THE PROGRAM FOR?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            RATE HERE
          </p>
          <button class="enquire-btn button btn-primary modal-trigger-btn">
            Enquire Now
          </button>
        </div>
      </div>
      <div>
        <h3 class="accordian-heading accordion-new">SEASONAL SHOOTS</h3>
        <div class="panel-new">
          <p class="question">
            What is it?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            WHO IS THE PROGRAM FOR?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            RATE HERE
          </p>
          <button class="enquire-btn button btn-primary modal-trigger-btn">
            Enquire Now
          </button>
        </div>
      </div>
      <div>
        <h3 class="accordian-heading accordion-new">PRO BONO BROGRAM</h3>
        <div class="panel-new">
          <p class="question">
            What is it?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            WHO IS THE PROGRAM FOR?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            RATE HERE
          </p>
          <button class="enquire-btn button btn-primary modal-trigger-btn">
            Enquire Now
          </button>
        </div>
      </div>
      <div>
        <h3 class="accordian-heading accordion-new">MOODBOARD WORKSHOP</h3>
        <div class="panel-new">
          <p class="question">
            What is it?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            WHO IS THE PROGRAM FOR?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            RATE HERE
          </p>
          <button class="enquire-btn button btn-primary modal-trigger-btn">
            Enquire Now
          </button>
        </div>
        
      </div>
    </div>
  </section>
  <section class="mini-services">
    <h2>Mini Services</h2>
    <div class="tab-mini">
      <div class="vertical-tabs">
        <p onclick="toggleMiniTabs('vip', this)" class="active vertical-tab">
          VIP Days
        </p>
        <p onclick="toggleMiniTabs('brand-strategy', this)" class="vertical-tab">
          BRAND STRATEGY WORKSHOP
        </p>
        <p onclick="toggleMiniTabs('seasonal-shoots', this)" class="vertical-tab">
          SEASONAL SHOOTS
        </p>
        <p onclick="toggleMiniTabs('pro-bono', this)" class="vertical-tab">
          PRO BONO BROGRAM
        </p>
        <p onclick="toggleMiniTabs('moodboard-workshop', this)" class="vertical-tab">
          MOODBOARD WORKSHOP
        </p>
      </div>
      <div class="vertical-tabs-details">
        <div id="vip" class="vertical-tabs-details-content active">
          <p class="question">
            What is it?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            WHO IS THE PROGRAM FOR?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            RATE HERE
          </p>
        </div>
        <div id="brand-strategy" class="vertical-tabs-details-content">
          <p class="question">
            What is it?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            WHO IS THE PROGRAM FOR?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            RATE HERE
          </p>
        </div>
        <div id="seasonal-shoots" class="vertical-tabs-details-content">
          <p class="question">
            What is it?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            WHO IS THE PROGRAM FOR?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            RATE HERE
          </p>
        </div>
        <div id="pro-bono" class="vertical-tabs-details-content">
          <p class="question">
            What is it?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            WHO IS THE PROGRAM FOR?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            RATE HERE
          </p>
        </div>
        <div id="moodboard-workshop" class="vertical-tabs-details-content">
          <p class="question">
            What is it?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            WHO IS THE PROGRAM FOR?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            RATE HERE
          </p>
        </div>
        <button class="enquire-btn button btn-primary modal-trigger-btn">
          Enquire Now
        </button>
      </div>
    </div>
  </section>
  <%- include("partials/contactForm.html", { text: "Looking for sonething else?", btnText: "Submit" }) %>
  <section
    class="banner-section"
  >
    <p>
      <span>We're a friendly bunch. stay connected with us on Instagram </span>@addmoredesign_studio</p>
  </section>
  <%- include("partials/footer.html") %>
  <%- include("partials/scripts.html") %>
  <script>
    function toggleTab(tabId, elem) {
      const tabs = document.querySelectorAll(".tab");
      tabs.forEach(t => {
        t.classList.remove("active");
      });
      elem.classList.add("active");
      const tabDetails = document.querySelectorAll(".tab-details");
      tabDetails.forEach(t => {
        t.classList.remove("active");
      });
      document.getElementById(tabId).classList.add("active");
    }

    function toggleMiniTabs(tabId, elem) {
      const tabs = document.querySelectorAll(".vertical-tab");
      tabs.forEach(t => {
        t.classList.remove("active");
      });
      elem.classList.add("active");
      const tabDetails = document.querySelectorAll(".vertical-tabs-details-content");
      tabDetails.forEach(t => {
        t.classList.remove("active");
      });
      document.getElementById(tabId).classList.add("active");
    }
  </script>
  <script>
    $(`.accordian-heading`).on("click", function() {
        if (window.innerWidth >= 500) {
          return;
        }
        if ($(this).hasClass("accordian-active-new")) {
          $(this).removeClass("accordian-active-new");
          var panel = this.nextElementSibling;
          panel.style.maxHeight = "0px";
        } else {
          $(`.accordian-heading`).removeClass("accordian-active-new");
          $(this).addClass("accordian-active-new");
          $(`.about-pointers .panel-new`).css("max-height", "0");
          var panel = this.nextElementSibling;
          panel.style.maxHeight = panel.scrollHeight + "px";
        }
      })
    // handleAccordian();
    var accHeading = document.getElementsByClassName("accordian-heading");
    accHeading[0].click();
    $(window).resize(function() {
      if (screen.width >= 500) {
        $(`.about-pointers .panel-new`).css("max-height", "unset");
      } else {
        var accHeading = document.getElementsByClassName("accordian-heading");
        accHeading[0].click();
      }
    });
  </script>
</body>
</html>