<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Services | Add More Design</title>
  <%- include("partials/styles.html") %>
  <link href="/services.css" rel="stylesheet">
  <link href="/about.css" rel="stylesheet">
</head>
<body id="services">
  <%- include("partials/header.html") %>
  <%- include("partials/repeatedBanner.html",
    {
      text: "We are still onboarding projects for 2022.",
      redirectTo: '',
      type: "secondary"
    }
) %>
  <section class="intro-section">
    <div>
      <h1>Services</h1>
    </div>
    <div>
      <p>
        We are a brand creation powerhouse. We believe in your business, and make sure we create a brand together that you can’t help but be obsessed with. We have services to help build a strong foundation before your brand launches and to keep growing once your brand is out there. At Add More Design, we want to help you accomplish your goals and then some more. If you want to create a stand-out brand that your audience can’t help thinking about, click the banner below! Need more convincing? Scroll through for more details!
      </p>
    </div>
  </section>
  <%- include("partials/repeatedBanner.html", { text: "Book a consultation", redirectTo: "", type: "primary" }) %>
  <section
    class="services-primary"
  >
    <h2>Primary Services</h2>
    <div class="tabs">
      <div class="tab active" onclick="toggleTab('branding', this)">
        Branding
      </div>
      <div class="tab" onclick="toggleTab('websites', this)">
        Website
      </div>
      <div class="tab" onclick="toggleTab('social-media', this)">
        Social Media
      </div>
    </div>
    <div class="tab-details active" id="branding">
      <div class="tab-content">
        <p>
          This is where brand creation starts. For a brand rooted in strategy, we start with a discussion to best understand your brand, know the story behind it and make an action plan for the branding. Usually (re: ideally), this is followed by market research and then by crafting an identity. Successful branding is a deeply collaborative process that paves the way for how your brand looks and communicates.
        </p>
        <p>
          MAY INCLUDE :
        </p>
        <div class="services-list hide-xs">
          <ul>
            <li>Brand Strategy</li>
            <li>Market Research</li>
            <li>Visual Identity</li>
          </ul>
          <ul>
            <li>Photography</li>
            <li>Packaging</li>
            <li>Stationary</li>
          </ul>
          <ul>
            <li>Branded Templates</li>
            <li>Brand Activation</li>
          </ul>
        </div>
        <div class="services-list hide-lg">
          <ul>
            <li>Brand Strategy</li>
            <li>Market Research</li>
            <li>Visual Identity</li>
            <li>Photography</li>
          </ul>
          <ul>
            <li>Packaging</li>
            <li>Stationary</li>
            <li>Branded Templates</li>
            <li>Brand Activation</li>
          </ul>
        </div>
        <p class="review">
          “Her first presentation to me on the brand and logo design was the final one, that’s how precise her understanding and work are...” 
        </p>
        <p class="reviewer">
          - Shivnandini (Rise Above)
        </p>
      </div>
      <div>
        <video src="/img/services/Branding gif.mp4" playsinline autoplay muted loop ></video>
        <!-- <img src="/img/project-1.png" /> -->
      </div>
    </div>
    <div class="tab-details" id="websites">
      <div class="tab-content">
        <p>
          Here’s why you need a website - It’s a space that only talks about your brand, offering no distractions, and makes you look like you’ve got your shit together. While social media platforms grow and die, websites remain a sure way of promoting your brand. Since every brand has different needs, we offer custom coded websites as well as platform ones (Shopify, Squarespace, Wix - take your pick!)
        </p>
        <p>
          MAY INCLUDE :
        </p>
        <div class="services-list hide-xs">
          <ul>
            <li>Design</li>
            <li>Development</li>
          </ul>
          <ul>
            <li>Copywriting</li>
            <li>Branded Image Templates</li>
          </ul>
          <ul>
            <li>Basic SEO</li>
            <li>Launch Support</li>
          </ul>
        </div>
        <div class="services-list hide-lg">
          <ul>
            <li>Design</li>
            <li>Development</li>
            <li>Copywriting</li>
          </ul>
          <ul>
            <li>Branded Image Templates</li>
            <li>Basic SEO</li>
            <li>Launch Support</li>
          </ul>
        </div>
        <p class="review">
          “....Really made sure that she understood our goals before getting to work, and we were extremely pleased with the outcome.” 
        </p>
        <p class="reviewer">
          -  Akhil Backliwal (Career Ahead)
        </p>
      </div>
      <div>
        <video src="/img/services/Website.mp4" playsinline autoplay muted loop ></video>
        <!-- <img src="/img/project-1.png" /> -->
      </div>
    </div>
    <div class="tab-details" id="social-media">
      <div class="tab-content">
        <p>
          Can’t live with it, can’t live without it! Social media can be overwhelming. Between keeping track of trends, scheduling, creating, engaging, it’s hard to stay sane. We want to help you build a sustainable social media game for your brand that is organic, informative and actually serves you and your audience.
        </p>
        <p>
          MAY INCLUDE :
        </p>
        <div class="services-list">
          <ul>
            <li>Content Strategy</li>
            <li>Design</li>
            <li>Copywriting</li>
          </ul>
          <ul>
            <li>Photography</li>
            <li>Branded Templates</li>
            <li>Campaign Ideation</li>
          </ul>
          <ul>
            <li>Surveillance</li>
            <li>Scheduling</li>
          </ul>
        </div>
        <p class="review">
          “One rarely comes across someone who is as creative and professional as Kumud...I have had the best time working with her on several projects.” 
        </p>
        <p class="reviewer">
          -  Divya Napa (DNC)
        </p>
      </div>
      <div>
        <video src="/img/services/SM gif.mp4" playsinline autoplay muted loop ></video>
        <!-- <img src="/img/project-1.png" /> -->
      </div>
    </div>
  </section>
  <%- include("partials/repeatedBanner.html", { text: "Book a consultation", redirectTo: "", type: "primary" }) %>
  <section
    class="why-us"
    style="display: none;"
  >
    <div class="heading-container">
      <h2>You should choose us.</h2>
    </div>
    <div class="about-pointers">
      <div>
        <h3 class="accordian-heading accordion-new">VIP Days</h3>
        <div class="panel-new">
          <p class="question">
            What is it?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            WHO IS THE PROGRAM FOR?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            RATE HERE
          </p>
          <button class="enquire-btn button btn-primary modal-trigger-btn">
            Enquire Now
          </button>
        </div>
      </div>
      <div>
        <h3 class="accordian-heading accordion-new">BRAND STRATEGY WORKSHOP</h3>
        <div class="panel-new">
          <p class="question">
            What is it?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            WHO IS THE PROGRAM FOR?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            RATE HERE
          </p>
          <button class="enquire-btn button btn-primary modal-trigger-btn">
            Enquire Now
          </button>
        </div>
      </div>
      <div>
        <h3 class="accordian-heading accordion-new">SEASONAL SHOOTS</h3>
        <div class="panel-new">
          <p class="question">
            What is it?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            WHO IS THE PROGRAM FOR?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            RATE HERE
          </p>
          <button class="enquire-btn button btn-primary modal-trigger-btn">
            Enquire Now
          </button>
        </div>
      </div>
      <div>
        <h3 class="accordian-heading accordion-new">PRO BONO BROGRAM</h3>
        <div class="panel-new">
          <p class="question">
            What is it?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            WHO IS THE PROGRAM FOR?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            RATE HERE
          </p>
          <button class="enquire-btn button btn-primary modal-trigger-btn">
            Enquire Now
          </button>
        </div>
      </div>
      <div>
        <h3 class="accordian-heading accordion-new">MOODBOARD WORKSHOP</h3>
        <div class="panel-new">
          <p class="question">
            What is it?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            WHO IS THE PROGRAM FOR?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            RATE HERE
          </p>
          <button class="enquire-btn button btn-primary modal-trigger-btn">
            Enquire Now
          </button>
        </div>
        
      </div>
    </div>
  </section>
  <section class="mini-services" style="display: none;">
    <h2>Mini Services</h2>
    <div class="tab-mini">
      <div class="vertical-tabs">
        <p onclick="toggleMiniTabs('vip', this)" class="active vertical-tab">
          VIP Days
        </p>
        <p onclick="toggleMiniTabs('brand-strategy', this)" class="vertical-tab">
          BRAND STRATEGY WORKSHOP
        </p>
        <p onclick="toggleMiniTabs('seasonal-shoots', this)" class="vertical-tab">
          SEASONAL SHOOTS
        </p>
        <p onclick="toggleMiniTabs('pro-bono', this)" class="vertical-tab">
          PRO BONO BROGRAM
        </p>
        <p onclick="toggleMiniTabs('moodboard-workshop', this)" class="vertical-tab">
          MOODBOARD WORKSHOP
        </p>
      </div>
      <div class="vertical-tabs-details">
        <div id="vip" class="vertical-tabs-details-content active">
          <p class="question">
            What is it?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            WHO IS THE PROGRAM FOR?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            RATE HERE
          </p>
        </div>
        <div id="brand-strategy" class="vertical-tabs-details-content">
          <p class="question">
            What is it?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            WHO IS THE PROGRAM FOR?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            RATE HERE
          </p>
        </div>
        <div id="seasonal-shoots" class="vertical-tabs-details-content">
          <p class="question">
            What is it?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            WHO IS THE PROGRAM FOR?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            RATE HERE
          </p>
        </div>
        <div id="pro-bono" class="vertical-tabs-details-content">
          <p class="question">
            What is it?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            WHO IS THE PROGRAM FOR?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            RATE HERE
          </p>
        </div>
        <div id="moodboard-workshop" class="vertical-tabs-details-content">
          <p class="question">
            What is it?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            WHO IS THE PROGRAM FOR?
          </p>
          <p class="answer">
            Add More Design is a brand creation powerhouse. a woman-led design studio for ambitious, purposeful brands❣️ Everything we create is led by intention, strategy, and a whole lot of love. Here, we literally 'add more design' to help you reach your goals, to help your consumers.
          </p>
          <p class="question">
            RATE HERE
          </p>
        </div>
        <button class="enquire-btn button btn-primary modal-trigger-btn">
          Enquire Now
        </button>
      </div>
    </div>
  </section>
  <%- include("partials/contactForm.html", { text: "Looking for something else?", btnText: "Contact Us" }) %>
  <%- include("partials/instaFeed.html") %>
  <section
    class="banner-section"
  >
    <p>
      <span>We're a friendly bunch. stay connected with us on Instagram </span>@addmoredesign_studio</p>
  </section>
  <%- include("partials/footer.html") %>
  <%- include("partials/scripts.html") %>
  <script>
    function toggleTab(tabId, elem) {
      const tabs = document.querySelectorAll(".tab");
      tabs.forEach(t => {
        t.classList.remove("active");
      });
      elem.classList.add("active");
      const tabDetails = document.querySelectorAll(".tab-details");
      tabDetails.forEach(t => {
        t.classList.remove("active");
      });
      console.log({ tabId: document.getElementById(tabId) });
      document.getElementById(tabId).classList.add("active");
    }

    function toggleMiniTabs(tabId, elem) {
      const tabs = document.querySelectorAll(".vertical-tab");
      tabs.forEach(t => {
        t.classList.remove("active");
      });
      elem.classList.add("active");
      const tabDetails = document.querySelectorAll(".vertical-tabs-details-content");
      tabDetails.forEach(t => {
        t.classList.remove("active");
      });
      document.getElementById(tabId).classList.add("active");
    }
  </script>
  <script>
    $(`.accordian-heading`).on("click", function() {
        if (window.innerWidth >= 500) {
          return;
        }
        if ($(this).hasClass("accordian-active-new")) {
          $(this).removeClass("accordian-active-new");
          var panel = this.nextElementSibling;
          panel.style.maxHeight = "0px";
        } else {
          $(`.accordian-heading`).removeClass("accordian-active-new");
          $(this).addClass("accordian-active-new");
          $(`.about-pointers .panel-new`).css("max-height", "0");
          var panel = this.nextElementSibling;
          panel.style.maxHeight = panel.scrollHeight + "px";
        }
      })
    // handleAccordian();
    var accHeading = document.getElementsByClassName("accordian-heading");
    accHeading[0].click();
    $(window).resize(function() {
      if (screen.width >= 500) {
        $(`.about-pointers .panel-new`).css("max-height", "unset");
      } else {
        var accHeading = document.getElementsByClassName("accordian-heading");
        accHeading[0].click();
      }
    });
  </script>
</body>
</html>