<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add More Designs</title>
    <%- include("partials/styles.html") %>
    <link href="/work.css" rel="stylesheet">
  </head>
  <body id="work">
    <!-- Intro Section -->
    <%- include("partials/header.html") %>
    <section class="intro-section">
      <div>
        <h1>Work</h1>
      </div>
      <div>
        <p>
          Welcome to our work showcase. Here we share some of the recent work that we’ve done i.e. the recent work that we remembered to upload 😅 Anyway, take a scroll and feast your eyes. We offer branding, visual direction, packaging, social media marketing, website design, and more (phew!) More projects launching soon! Like what you see? Hire us!
        </p>
      </div>
    </section>
    <%- include("partials/projects.html"), { projects: projects } %>
    <section
      class="banner-section"
    >
      <p>
        <span>We're a friendly bunch. stay connected with us on Instagram </span>@addmoredesign_studio</p>
    </section>
    <%- include("partials/contactForm.html") %>
    <%- include("partials/footer.html") %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
    
    <%- include("partials/scripts.html") %>
  </body>
</html>